.contact {
   margin-top: 120px;
 }
 .contact__title-shadow {
   font-size: 96px;
   line-height: 20px;
   color: #eeeeee;
 }
 .contact__title {
   font-size: 40px;
   color: #000000;
   margin-bottom: 80px;
 }
 .contact__title, .contact__title-shadow {
   font-weight: 700;
   text-align: center;
 }
 .contact__inner {
   gap: 20px;
   display: flex;
   padding: 50px;
   background: #5855e7;
   box-shadow: 0px 0px 35px rgba(51, 51, 51, 0.25);
   border-radius: 15px;
   color: #fff;
 }
 .contact__text {
   display: flex;
   flex-direction: column;
   flex: 1;
 }
 .contact__block {
   display: flex;
   flex-direction: column;
   flex: 1;
 }
 .contact__block p {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 20px;
 }
 .contact__form {
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 25px;
 }
 .contact__form input, .contact__form textarea, .contact__form button {
   outline: none;
   border: none;
   padding: 15px;
   border-radius: 5px;
 }
 .contact__form textarea {
   height: 100%;
   resize: none;
 }
 .contact__form button {
   white-space: 700px;
   text-transform: uppercase;
 }
 .contact__form button:hover {
   opacity: 0.7;
 }
 .contact__subtitle {
   margin-bottom: 17px;
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
 }
 .contact__describe {
   margin-bottom: 35px;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
 }
 
 @media (max-width: 375px) {
   .contact {
     margin: 70px 0;
     padding: 0 16px;
   }
   .contact__title {
     font-size: 32px;
     margin-bottom: 30px;
   }
   .contact__title-shadow {
     font-size: 70px;
   }
   .contact__inner {
     padding: 28px 20px;
   }
   .contact__text {
     display: none;
   }
   .contact__block {
     text-align: center;
   }
   .contact__block p {
     font-size: 16px;
   }
   .contact__subtitle {
     font-size: 24px;
   }
   .contact__form {
     gap: 18px;
   }
   .contact__form input, .contact__form textarea, .contact__form button {
     padding: 7px 15px;
   }
 }